.about {
    flex-grow: 1;
    font-size: 10px;
    font-weight: 100;
    font-family: 'Scheherazade New', serif;
    line-height: 70px;
    color: rgb(6, 6, 53);
  }
  
  .about h1 {
    color: rgb(158, 8, 122);
    margin-bottom: 20px;
    font-size: 40px;
  }